In [1]:
import os
import glob
import pandas as pd
import psycopg2 as pg2
from sql_queries import *

In [2]:
conn = pg2.connect(database = 'governmentpayroll', user = 'postgres', password = 'poop1234' )
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root, '*.csv'))
        for f in files:
            all_files.append(os.path.abspath(f))
    return all_files

In [4]:
files = get_files('payroll')
files[0]

'C:\\Users\\alber\\Desktop\\myWork\\projects\\ETL\\payroll\\Payroll_Report_-_End_Date_1_23_2019.csv'

In [5]:
jan23 = pd.read_csv(files[0], dtype = object)
jan23.head()

,EMPLOYEE_NAME,OFFICE,CITY,EMPLOYEE_TITLE,BIWEEKLY/HOURLY_RATE,PAYROLL_TYPE,PAY_PERIOD,PAY_PERIOD_BEGIN_DATE,PAY_PERIOD_END_DATE,CHECK_DATE,LEGISLATIVE_ENTITY
0,"ABBOT, JUDITH L",SENATOR TOBY ANN STAVISKY,FLUSHING,COMMUNITY LIAISON,1076.93,SA,21,01/10/2019 12:00:00 AM,01/23/2019 12:00:00 AM,02/06/2019 12:00:00 AM,SENATE EMPLOYEE
1,"ABRAHAM, PRINCY A",MINORITY COUNSEL/PROGRAM,ALBANY,ASSOCIATE COUNSEL,2376.93,RA,21,01/10/2019 12:00:00 AM,01/23/2019 12:00:00 AM,02/06/2019 12:00:00 AM,SENATE EMPLOYEE
2,"ABREU, BRIAN A",LEGISLATIVE MESSENGER SERVICE,ALBANY,MESSENGER,1173.93,RA,21,01/10/2019 12:00:00 AM,01/23/2019 12:00:00 AM,02/06/2019 12:00:00 AM,JOINT LEGISLATIVE EMPLOYEE
3,"ACEVEDO, SAMANTHA I",SENATOR JESSICA RAMOS,ALBANY,COMMITTEE DIRECTOR,2115.39,RA,21,01/10/2019 12:00:00 AM,01/23/2019 12:00:00 AM,02/06/2019 12:00:00 AM,SENATE EMPLOYEE
4,"ADAMS, DAVID V",SENATE SERGEANT-AT-ARMS,ALBANY,SESSION SERGEANT-AT-ARMS,820.95,SA,21,01/10/2019 12:00:00 AM,01/23/2019 12:00:00 AM,02/06/2019 12:00:00 AM,SENATE EMPLOYEE

In [6]:
jan23['PAY_PERIOD_END_DATE'] = pd.to_datetime(jan23['PAY_PERIOD_END_DATE']).astype(object)
"""jan23['PAY_PERIOD_END_DATE'] = pd.to_datetime(jan23['PAY_PERIOD_END_DATE'])
jan23['CHECK_DATE'] = pd.to_datetime(jan23['CHECK_DATE'])
"""
jan23['YEAR'] = jan23['PAY_PERIOD_END_DATE'].dt.year.astype(object)
payperiod_data = jan23.loc[0,['PAY_PERIOD', 'YEAR','PAY_PERIOD_BEGIN_DATE', 'PAY_PERIOD_END_DATE', 'CHECK_DATE']]
payperiod_data

PAY_PERIOD                                   21
YEAR                                       2019
PAY_PERIOD_BEGIN_DATE    01/10/2019 12:00:00 AM
PAY_PERIOD_END_DATE         2019-01-23 00:00:00
CHECK_DATE               02/06/2019 12:00:00 AM
Name: 0, dtype: object

In [7]:
cur.execute(pay_period_table_insert, payperiod_data)
conn.commit()

In [51]:
payroll_type_data = jan23.loc[:,['PAYROLL_TYPE']]
payroll_type_data

     PAYROLL_TYPE
0              SA
1              RA
2              RA
3              RA
4              SA
5              SA
6              RA
7              SA
8              SA
9              RA
10             RA
11             RA
12             RA
13             RA
14             RA
15             SA
16             RA
17             RA
18             RA
19             RA
20             RA
21             RA
22             SA
23             SA
24             RA
25             SA
26             RA
27             SA
28             RA
29             SA
...           ...
1218           RA
1219           RA
1220           RA
1221           SA
1222           RA
1223           RA
1224           SA
1225           SA
1226           RA
1227           SA
1228           RA
1229           TE
1230           RA
1231           RA
1232           RA
1233           RA
1234           RA
1235           SA
1236           SA
1237           RA
1238           RA
1239           SA
1240           RA
1241           TE
1242           RA
1243           RA
1244           RA
1245           RA
1246           RA
1247           RA

[1248 rows x 1 columns]

In [54]:
for i,val in enumerate(payroll_type_data['PAYROLL_TYPE']):
    cur.execute(payroll_type_table_insert, val)
    conn.commit()

TypeError: not all arguments converted during string formatting

In [8]:
def isOneToOne(df, col1, col2):
    first = df.drop_duplicates([col1, col2]).groupby(col1)[col2].count().max()
    second = df.drop_duplicates([col1, col2]).groupby(col2)[col1].count().max()
    return first + second == 2

isOneToOne(jan_mod, 'LEGISLATIVE_ENTITY', 'EMPLOYEE_NAME')

first = jan23.groupby('PAY_PERIOD')['PAY_PERIOD_END_DATE'].count().max()
second = jan23.groupby('PAY_PERIOD_END_DATE')['PAY_PERIOD'].count().max()
print(first, second)

1248 1248

OperationalError: FATAL:  database "governmentpayroll" does not exist